---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/random/trivia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '383'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"a9-DFg8lO51hR87yKpM+C+Ed9t66sk"
      last-modified:
      - '1615568497'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "383 is the cubic displacement in inches of a 350cid Small Block Chevrolet with a 400cid SBC crankshaft.",
         "number": 383,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Fri, 12 Mar 2021 17:00:08 GMT
recorded_with: VCR 6.0.0
