---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/2010/year
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '2010'
      x-numbers-api-type:
      - year
      etag:
      - W/"fa-8wllDs7QHfivN0JcOVP7QHZeiuo"
      last-modified:
      - '1615568499'
    body:
      encoding: UTF-8
      string: |-
        {
         "date": "May 22",
         "text": "2010 is the year that Air India Express Flight 812 overshoots the runway at Mangalore International Airport in India, killing 158 and leaving 8 survivors on May 22nd.",
         "number": 2010,
         "found": true,
         "type": "year"
        }
  recorded_at: Fri, 12 Mar 2021 17:00:10 GMT
recorded_with: VCR 6.0.0
