---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/foo/trivia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="utf-8">
        <title>Error</title>
        </head>
        <body>
        <pre>Cannot GET /foo/trivia</pre>
        </body>
        </html>
  recorded_at: Fri, 12 Mar 2021 17:00:11 GMT
recorded_with: VCR 6.0.0
