---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/42/trivia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '42'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"80-eEBWvIKBI8sDRZFofbJAva54KBk"
      last-modified:
      - '1615568496'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "42 is the number of gallons that one barrel of petroleum holds.",
         "number": 42,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Fri, 12 Mar 2021 17:00:08 GMT
recorded_with: VCR 6.0.0
