---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/42/trivia?fragment=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '42'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"5e-T7/CPmvoS+r51ZUbmd9qLJmH/Uc"
      last-modified:
      - '1615531849'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "the number of laws of cricket",
         "number": 42,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Fri, 12 Mar 2021 06:49:20 GMT
recorded_with: VCR 6.0.0
