---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/random/trivia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '227'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"e9-qzu7aZ27iTKaP/9vkxsr6sl1UXw"
      last-modified:
      - '1615531848'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "227 is the highest score ever in the Eurovision Song Contest, achieved by Katrina and the Waves of the UK in 1997, before the Semi-final system was introduced in 2004.",
         "number": 227,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Fri, 12 Mar 2021 06:49:20 GMT
recorded_with: VCR 6.0.0
