---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/random/trivia?max=10&min=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '7'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"8e-os2fzq/n294LG1frPnDrAHnrA1M"
      last-modified:
      - '1615531848'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "7 is the number of types of viruses according to the Baltimore classification.",
         "number": 7,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Fri, 12 Mar 2021 06:49:20 GMT
recorded_with: VCR 6.0.0
