---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/42/trivia?fragment=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '42'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"a4-HYOjGFi75uXRi+Bu6/qVbv5HF5M"
      last-modified:
      - '1615568497'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "the sum of the codes of the letters in the words \"BIG BANG\" using the encoding A=1, B=2, C=3, etc",
         "number": 42,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Fri, 12 Mar 2021 17:00:09 GMT
recorded_with: VCR 6.0.0
