---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/35353/trivia?notfound=floor
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '35000'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"75-+2VUktLk0t4kyrpB9HnMmaySSqM"
      last-modified:
      - '1615531849'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "35000 is the number of genes in a human being.",
         "number": "35000",
         "found": false,
         "type": "trivia"
        }
  recorded_at: Fri, 12 Mar 2021 06:49:21 GMT
recorded_with: VCR 6.0.0
