---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/1/15/date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '15'
      x-numbers-api-type:
      - date
      etag:
      - W/"ea-+3Sv/msjTPP04ce6D/sbU0aT+kw"
      last-modified:
      - '1615568498'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "January 15th is the day in 1993 that Salvatore Riina, the Mafia boss known as \"The Beast\", is arrested in Sicily, Italy after three decades as a fugitive.",
         "year": 1993,
         "number": 15,
         "found": true,
         "type": "date"
        }
  recorded_at: Fri, 12 Mar 2021 17:00:10 GMT
recorded_with: VCR 6.0.0
