---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/42/math
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '42'
      x-numbers-api-type:
      - math
      etag:
      - W/"5f-HkJy+7Q63aDan8RoEXLQvU+oUjE"
      last-modified:
      - '1615531849'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "42 is the 5^{th} Catalan number.",
         "number": 42,
         "found": true,
         "type": "math"
        }
  recorded_at: Fri, 12 Mar 2021 06:49:21 GMT
recorded_with: VCR 6.0.0
