---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/random/trivia?max=10&min=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '9'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"86-TogUPAGTs3bq+2brYoS7sCtjTCE"
      last-modified:
      - '1615568497'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "9 is the number of innings in a regulation, non-tied game of baseball.",
         "number": 9,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Fri, 12 Mar 2021 17:00:08 GMT
recorded_with: VCR 6.0.0
