---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/42/trivia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '42'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"ea-HAerqvkK1Eo3fOVIlp5n5q4Scpc"
      last-modified:
      - '1615531851'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "42 is the result given by the web search engines Google, Wolfram Alpha and Bing when the query \"the answer to life the universe and everything\" is entered as a search.",
         "number": 42,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Fri, 12 Mar 2021 06:49:23 GMT
recorded_with: VCR 6.0.0
