---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/1/15/date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '15'
      x-numbers-api-type:
      - date
      etag:
      - W/"e7-ejgdrQ9MexoY5q8fQt+C0xwpv9o"
      last-modified:
      - '1615496530'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "January 15th is the day in 1889 that the Coca-Cola Company, then known as the Pemberton Medicine Company, is originally incorporated in Atlanta, Georgia.",
         "year": 1889,
         "number": 15,
         "found": true,
         "type": "date"
        }
  recorded_at: Thu, 11 Mar 2021 21:00:41 GMT
recorded_with: VCR 6.0.0
