---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/42/trivia?fragment=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '42'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"67-aD0wn8td5uA+SqKR/obtvA44vrc"
      last-modified:
      - '1615494017'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "the number of kilometers in a marathon",
         "number": 42,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Thu, 11 Mar 2021 20:18:49 GMT
recorded_with: VCR 6.0.0
