---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/random/trivia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '126'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"96-XGFVpD7ZysiyvMH6wHjZguPxNvM"
      last-modified:
      - '1615494017'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "126 is the atomic number of unbihexium, an element that has not yet been discovered.",
         "number": 126,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Thu, 11 Mar 2021 20:18:48 GMT
recorded_with: VCR 6.0.0
