---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/42/math
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '42'
      x-numbers-api-type:
      - math
      etag:
      - W/"b9-IWZp3mkw1JKqC4m69UDeENdDdD0"
      last-modified:
      - '1615494018'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "42 is conjectured to be the scaling factor in the leading order term of the \"sixth moment of the Riemann zeta function\".",
         "number": 42,
         "found": true,
         "type": "math"
        }
  recorded_at: Thu, 11 Mar 2021 20:18:49 GMT
recorded_with: VCR 6.0.0
