---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/random/trivia?max=10&min=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '7'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"63-w8K/mFH+cCnigGa0JsrQ8ebHLUw"
      last-modified:
      - '1615494017'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "7 is the figurative number of seas.",
         "number": 7,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Thu, 11 Mar 2021 20:18:49 GMT
recorded_with: VCR 6.0.0
