---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/42/trivia
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '42'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"73-Zw+OUy3HtuRIEpN504g/WCluXdg"
      last-modified:
      - '1615494016'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "42 is the number of US gallons in a barrel of oil.",
         "number": 42,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Thu, 11 Mar 2021 20:18:48 GMT
recorded_with: VCR 6.0.0
