---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/35353/trivia?default=foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-numbers-api-number:
      - '35353'
      x-numbers-api-type:
      - trivia
      etag:
      - W/"48-g6IkYStZuXdyfDSgNxEjSTS8WDM"
      last-modified:
      - '1615494018'
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "foo",
         "number": 35353,
         "found": false,
         "type": "trivia"
        }
  recorded_at: Thu, 11 Mar 2021 20:18:50 GMT
recorded_with: VCR 6.0.0
